body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.homeSlidesShow {
    width: 100%; /* Make the image fill the carousel's width */
    height: auto; /* Maintain the aspect ratio of the image */
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-right: 3rem;
    border: none;
    border-radius: 15px;
    background: white;
    color: #253c7f;
    height: 2.5rem;
    width: 7rem;
    transition: all .5s ease;
}

.button:hover {
    height: 3rem;
    width: 7.5rem;
}

.contact {
    display: flex;
    flex-direction: column;
    color: white;
}

.socialDiv {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.cover {
    height: 100%;
    width: 100%;
}

.social {
    color: white;
    height: 30px;
    width: 30px;
}

.open-sans {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
}
