.middle {
    display: grid;
    grid-template-columns: auto auto;
    padding: 0 20%;
    height: 30rem;
    align-items: center;
}

.middleInfo {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.middleTitle{
    color: #103a83;
    font-size: 3.5rem;
    font-weight: 700;
    padding-bottom: 1rem;
}

.middleParagraph {
    font-size: 1.2rem;
    padding-right: 4rem;
}

.phrase {
    display: flex;
    padding: .8rem 0;
    align-items: center;
    justify-content: center;
}

.aboutUsPhoto {
    height: 15rem;
    width: auto;
}

@media  ( max-width: 1755px) {

        .middle {
            height: 40rem;
        }
}

@media ( max-width: 1375px ) {

    .middle {
        height: 50rem;
        padding: 0 10%
    }
}

@media ( max-width: 1290px ) {

    .middle {
        height: 50rem;
    }
}

@media ( max-width: 970px) {
    .middle {
        padding: 0 5%;
    }
}

@media ( max-width: 870px ) {
    .middle {
        height: 60rem;
        padding: 2%;
    }
}

@media only screen and (max-width: 768px) {
    
    .middle {
        grid-template-columns: auto; /* Change to a single column */
        padding: 5% 5%; /* Adjust padding if necessary */
        width: 100%; /* Ensure the grid takes up full width */
        height: 85rem;
    }

    .aboutUsPhoto {
        width: 100%;
    }
}