.middle {
    background: white;
    width: 100%;
    height: 55rem; /* Fixed height for the middle section */
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.homeCarousel {
    width: 100%; /* Carousel takes up 90% of the container */
    height: 100%; /* Carousel will fill the height of its parent (.middle) */
}

.homeCarouselInner {
    width: 100%;
    height: 100%; /* Make sure the inner carousel also takes the full height */
}

.homeCarouselItem {
    background: #103a83;
    height: 100%; /* Carousel item should take up the full height of the carousel */
    display: flex;
    align-items: center;
    justify-content: center;
}

.homeSlidesShow {
    width: 100%;
    height: 100%;
    object-fit: fill; /* Stretches the image to cover both width and height, but may distort the image */
}

.middle2 {
    background: #5e5e5e;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10rem;
}

.productsBtn {
    
}