.title {
    color: #103a83;
}


.middle {
    height: 50rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
}

.info {
    padding: 2rem 0 ;
    width: 40%;
}

.city {
    color: #253c7f;
    font-weight: 700;
}

.line {
    display: flex;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.quotesInput {
    width: 30rem;
    height: 2.5rem;
    border: 1px solid black;
    border-radius: 10px;
    margin: .5rem 0 1rem 0;
}

.quotesTextarea {
    width: 100%;
    height: 6rem;
    border-radius: 10px;
}

.btn {
    margin-top: 1rem;
    background: #103a83;
    color: white;
    border: none;
    border-radius: 8px;
    width: 100%;
    height: 2.2rem;
}