.middle {
    display: grid;
    grid-template-columns: auto auto;
    height: 35rem;
    justify-content: center;
    align-items: center;
}

.title {
    color: #103a83;
    font-size: 2.7rem;
    font-weight: 600;
}

.description {
    color: rgb(95, 95, 95);
}